#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.center-image {
  width: 500px;
  height: auto;
}


.btn-row {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15rem;            
  margin: 6rem auto;
}


.btn-glow {
  will-change: filter, transform;
  transition: filter 300ms, transform 150ms;
  background-color: #000a77;
  color: #e4e4e4;
  padding: 1em 2.5em;  
  font-size: 1.3em;  
  border-radius: 50px; 
}


.btn-glow:hover {
  filter: drop-shadow(0 0 0.9em #0015ff);
  transform: translateY(-2px) scale(1.05); 
}
